body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

.canvas-wrapper {
  width: 90vmin;
  height: 90vmin;
  max-width: 600px;
  max-height: 600px;
}

canvas {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  background-color: #fff;
}
